/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/09/2016, 23:03:05
    Author     : Ido Barnea
*/


body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.alert{
/*    display: none;*/
    position: fixed;
    right:0;
    left: 0;
    text-align: center;
    height: 40px
}
#main-content-wrap{
   
    padding-left: 0;
    padding-right: 0;
}
.hero{
    background: url('../images/hero-bg.jpg') no-repeat 50% 50% scroll;
    background-size: cover;
    height: 450px;
}
.hero>.container-fluid{
    padding: 50px;
}
#bg-open{
   background: url('../images/hipster-stuff.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    height: 350px; 
}
.left, .right{
    height: 350px;
    background: #3e3e3e;
}

/* Login Page*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}